<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div id="app">
        <div class="user-login">
            <div class="user-login-title">登录</div>
            <div>
                <label>手机</label><input type="text" name="mobile" id="mobile"
                maxlength="12" v-model="name" placeholder="手机">
            </div>
            <div>
                <label>密码</label><input type="password" name="password"
                  maxlength="12" v-model="password" placeholder="密码">
            </div>
            <div class="user-login-save">
                <label>&nbsp;</label><button @click="login()">登录</button>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/jquery.cookie.js"></script>
<script>
    var userInfo = {
        name: '',
        password: ''
    }

    new Vue({
        el: '#app',
        data: userInfo,
        methods: {
            login: function() {
                console.log(this.name);
                console.log(this.password);
                console.log($("#mobile").val());

                $.ajax({
                    url: 'http://10.9.35.32:8099/login',
                    type: 'POST',
                    headers:{'Accept': 'application/json','token': ''},
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(userInfo),
                    success: function(data) {
                        var result = eval(data);
                        console.log(result.code);
                        console.log(result.data);

                        window.sessionStorage.setItem('token', result.data);

                        console.log('token:------');
                        console.log(window.sessionStorage.getItem('token'));
                    },
                    error: function(xhr) {
                        console.log('login error');
                    }
                })
            }
        }
    })
</script>
</html>